<!DOCTYPE html>
<html lang="en">

{{> header}}

<body>
    {{> menu}}
    <div id="message_container">
        <div class="register_add row">
            <div class="col-3">
                <h1>{{heading}}</h1>
            </div>
            {{#if isAuthenticated}}
                <div class="col-2 offset-7">
                    <a href="/{{genre}}/new_post">
                        <input type="button" style="margin-top: 10px" class="btn btn-dark" value="New Post"/>
                    </a>
                </div>

            {{else}}
                    <a href="/registration" class="col-10 offset-7" style="margin: 15px 0 0;">Register a new account to start posting!</a>
            {{/if}}
        </div>
        <hr>

        <ul class="message_list list-group">
            {{#each message}}
                <a href="/thread/{{_id}}" class="list-group-item list-group-item-action">{{title}}
                    <p class="poster">Posted by: {{username}} on {{date}}</p>
                </a>
            {{/each}}
        </ul>
    </div>

    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>-->
    <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->
</body>


</html>