<!DOCTYPE html>
<html lang="en">

{{> header}}

<body>
    {{> menu}}

    <div id="thread_container">
        <div id="op_container">
            <h1>{{heading}}</h1>
            <p>{{{op_message}}}</p>
            <p>{{poster}}</p>
            <p>{{date}}</p>
            
            {{#if isOP}}
            <div class="container">
              <div class="row">
                <div class=".col-sm-1">
                  <form method="post" action="/delete_post">
                  <input type="hidden" name="id" value={{id}}>
                  <input class="btn btn-dark" type="submit" value="Delete">
                </form>
              </div>
                <div class=".col-sm-2">
                     <button id="edit_button" class="btn btn-dark" onclick="show_edit_form()">Edit Post</button>
                 </div>
              </div>
            </div>




            {{!-- edit form --}}
            <form method="post" action="/edit_post" id='edit_post_form'>
            <br>
                <label for="edit_textarea"><b>Edit Thread</b></label><br>
                <input type="hidden" name="id" value={{id}}>
                <textarea name="edit_textarea" rows="10" cols="50" class="edit_textarea">{{op_message}}</textarea><br>
                <input class="btn btn-dark" type="submit" value="Edit"/>
            </form>
            {{/if}}
        </div>
        
        <hr>
        
        <div id="replies_container">
            {{#if isAuthenticated}}
            <form method="post" action="/add_reply">
                <input type="hidden" name="id" value={{id}}>
                <textarea name="reply" class="post_text" rows="10" cols="50" placeholder="Reply to this post!" required></textarea><br>
                <input id="reply_button" class="btn btn-dark" type="submit" value="Reply"/>
            </form>
            {{/if}}
            
            <ul>
            {{#each reply}}
                <p>{{username}} replied on {{date}}</p>
                <li>{{{message}}}
                </li>
            {{/each}}
            </ul>
        </div>
    </div>
</body>
<script src="/js/script.js"></script>
</html>